In [5]:
#Question1(crate one varible which contains (string,list,float,tuple))

Variable=['rohit',[1,2,'rohit',3.4],3.5,(1,'rohit',3.6)]
print(Variable)

['rohit', [1, 2, 'rohit', 3.4], 3.5, (1, 'rohit', 3.6)]

In [19]:
#Question2(tell the data type of the varible)

var1=" "
print(type(var1))

var2 = '[DS, ML, Python]'
print(type(var2))

var3= ['DS','ML','Python']
print(type(var3))

var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Question3( Explain the use of the following operators using an example)

1(/)
This  Arithmetic operator is used with numeric values to perform division mathematical operations.

2(%)
This Arithmetic modulus operator is used with numeric values to perform divison  mathematical operations and gives remainder.

3(//)
this is Aritmatic operator named 'Floor division' is an operation in Python that allows us to divide two numbers and rounds the resultant value down to the nearest integer

4(**)
It is knowns as an exponentiation operator, which is one of the ways to calculate the exponential value of the given base and exponent values.

In [21]:
#Question3(uses of the given operators)
#1(/)
a=2
b=10
print(b/a)

#2(%)
c=10
d=3
print(c%d)

#3(//)
e=14
f=5
print(e/f)

#4(**)
a=2
a=a**3
print(a)

5.0
1
2.8
8

In [29]:
'''Question4(Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type)'''

list1=[1,2.3,'rohit',(1,2,'rohit'),{1,2,3},[1,2,'a codder'],{'fruit':'apple'},'true',1+2j,4.99]

for items in range(len(list1)):
                   print(list1[items])
                   print(type(list1[items]))

1
<class 'int'>
2.3
<class 'float'>
rohit
<class 'str'>
(1, 2, 'rohit')
<class 'tuple'>
{1, 2, 3}
<class 'set'>
[1, 2, 'a codder']
<class 'list'>
{'fruit': 'apple'}
<class 'dict'>
true
<class 'str'>
(1+2j)
<class 'complex'>
4.99
<class 'float'>

In [18]:
'''#Quesiotn5(Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible)'''
def count_divisions(a, b):
    count =0

    while a%b==0:
        count +=1
        a //=b

    return count

num_a = int(input("Enter the value of number A: "))
num_b = int(input("Enter the value of number B: "))

divisions = count_divisions(num_a, num_b)
print(f"Number A can be divided by number B {divisions} times.")

Enter the value of number A:  15
Enter the value of number B:  3

Number A can be divided by number B 1 times.

In [17]:
'''Question6(Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not)'''
list1=[1,2,3,4,5,6,8,9,10,12,0,56,97,79,4679,4661,649,797,44,7854,545,54,47,87,89]

for i in range(len(list1)):
       if(list1[i]%3==0):
            print(f"{list1[i]} is divisible by 3")
       else:
        print(f"{list1[i]} is not divisible by 3")

25
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
12 is divisible by 3
0 is divisible by 3
56 is not divisible by 3
97 is not divisible by 3
79 is not divisible by 3
4679 is not divisible by 3
4661 is not divisible by 3
649 is not divisible by 3
797 is not divisible by 3
44 is not divisible by 3
7854 is divisible by 3
545 is not divisible by 3
54 is divisible by 3
47 is not divisible by 3
87 is divisible by 3
89 is not divisible by 3

'''Question7(What do you understand about mutable and immutable data types? Give examples for both showing 
this property.'''

mutable and immutable data type:
Mutable is when something is changeable or has the ability to change. In Python, ‘mutable’ is the ability of objects to change their values.
Objects of built-in type that are mutable are:

 Lists
 Sets
 Dictionaries
 User-Defined Classes (It purely depends upon the user to define the characteristics) 

Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created. 

Objects of built-in type that are immutable are:

 Numbers (Integer, Rational, Float, Decimal, Complex & Booleans)
 Strings 
 Tuples
 Frozen Sets
 User-Defined Classes (It purely depends upon the user to define the characteristics)

In [24]:
#Example of question7 for mutable data type:
list1=[1,2,3,5,6]
print(list1)
list1.append(3)
print(list1)

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6, 3]

In [1]:
#Example of question7 for immutable data type:
tuple1=(1,2,3,4,6)
print(tuple1)
tuple.append(2)
print(tuple1)
*print(tuple1)shows some error!

SyntaxError: invalid syntax (1662143800.py, line 6)